@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Playwrite+FR+Trad:wght@100..400&family=Questrial&family=Spline+Sans:wght@300..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Edu AU VIC WA NT Pre", cursive;
}
.all-content{
    background:#2e1700 ;
}

/* navbar */
#navbar{
    background-color: #573818;
    font-weight: bold;
    padding-left: 60px;
}
#logo{
    font-size: 23px;
    color: white;
}
#logo img{
    margin-bottom: 15px;
}
.navbar-nav{
    margin-left: 10px;
}

.nav-link{
    color: white;
    font-weight: bold;
    /* box-shadow: 1px 1px 1px black; */
    text-shadow: 1px 1px 1px black;
    margin-left: 15px;
    transition: 0.5s ease;
}
.nav-link:hover{
    background-color: rgba(161, 109, 14, 1);
    color: white;
    border-radius: 5px;
}
.dropdown-item{
    box-shadow: 1px 1px 1px rgba(161, 109, 14, 1);
}
.dropdown-item:hover{
    background-color: rgba(161, 109, 14, 1);
    color: white;
}

.icon{
    margin-left: 30px;
}
.icon img{
    margin-left: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}
.icon img:hover{
    transform: translateY(-5px);
}

@media screen and (max-width:360px){
    #logo{
        font-size: 15px;
    }
    .icon img{
        width: 20px;
    }
    
}



/* -----home section  */
.home{
    width: 100%;
    height: 88.5vh;
    display: flex;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/background2.png);
    background-size: cover;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
}
.home .img{
    flex: 1 1 400px;
}
.home .img img{
    width: 100%;
}

.home .home-content{
    flex: 1 1 400px;
    margin-left: 60px;
    margin-bottom: 50px;
}
.home-content h3{
    color: white;
    font-size: 50px;
    font-weight: bold;
    filter: drop-shadow(3px 4px 2px black);
}
.home-content h2{
    color: white;
    font-size: 50px;
    font-weight: bold;
    filter: drop-shadow(3px 4px 2px black);
}
.change::after{
    content: ' ';
    color: rgba(161, 109, 14, 1); 
    animation: changetext 10s infinite linear;
    font-weight: bold;
    font-size: 40px;
}
@keyframes changetext{
    0%{content: "Birthday Cake";}
    25%{content: "Chocolate Cake";}
    50%{content: "party Cake";}
    75%{content: "slice Cake";}
    100%{content: "Cup Cake";}
}
.home-content p{
    color: white;
    font-weight: bold;
}
.home-content .btn{
    width: 110px;
    height: 38px;
    background-color: #573818;
    color: white;
}

.home-content .btn:hover{
    background-color: aliceblue;
    color: rgba(161, 109, 14, 1);  
}
/* @media screen and (max-width:800px){
    .home-content h3{
        font-size: 50px;
    }
}
@media screen and (max-width:860px){
    .home-content{
        height: 120vh;
    }
}
@media screen and (max-width:560px){
    .home-content{
        height: 100vh;
    }
}
@media screen and (max-width:330px){
    .home-content h3{
        font-size: 30px;
    }
    .home-content h2{
        font-size: 30px;
    }
} */

/* box  */
#box{
    margin-top: 50px;
}
#box .card{
    box-shadow: 0px 0px 5px black;
    margin-top: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}
#box .card:hover{
    transform: translateY(-10px);
}

/* ---banner  */
.banner{
    width: 100%;
    height: 60vh;
    display: flex;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/banner2.png);
    background-size: cover;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
.banner .img{
    flex: 1 1 400px;
}
.banner .img img{
    width: 100%;
}
.banner .banner-content{
    flex: 1 1 400px;
    margin-left: 60px;
    margin-top: 50px;
}
.banner .banner-content h3{
    color: rgba(161, 109, 14, 1);
    font-weight: bold;
    font-size: 45px;
}
.banner .banner-content h2{
    font-size: 50px;
    color: rgba(161, 109, 14, 1);
    font-weight: bold;
    filter: drop-shadow(3px 4px 3px black);
}
.banner .banner-content p{
    color: white;
}
#btnorder button{
    width: 150px;
    height: 32px;
    letter-spacing: 5px;
    background-color: rgba(161, 109, 14, 1);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
@media screen and (max-width:800px){
    .banner-content h3{
        font-size: 50px;
    }
}
@media screen and (max-width:850px){
    .banner{
        height: 100vh;
    }
}

/* ----product-card  */
#product-cards h1{
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
    color: rgba(161, 109, 14, 1);
    /* filter: drop-shadow(1px 2px 1px white); */
    border-bottom: 2px solid rgba(161, 109, 14, 1);
}
#product-cards .card{
    background-color: rgba(161, 109, 14, 1);
    box-shadow: 0 0 3px black;
    border-radius: 5px;
    cursor: pointer;
}
.overlay{
    display: block;
    position: absolute;
    top: 10%;
    margin-left: 0;
    width: 70%;
    opacity: 0;
}
#product-cards .card:hover .overlay{
    opacity: 1;
    margin-left: 5%;
    transition: 0.5s ease;
}
.overlay i img{
    background-color: #2e1700;
    height: 30px;
    width: 30px;
    font-size: 20px;
    padding: 7px;
    margin: -20%;
    margin-bottom: 5%;
    cursor: pointer;
}
.overlay .btn-secondary{
    background: transparent !important;
    border: none;
    box-shadow: none;
}
#product-cards h3{
    color: white;
    text-shadow: 1px 1px 1px black;
}
.star {
     color: yellow;
}
#product-cards p{
    color: #2e1700;
    font-weight: bold;
}
#product-cards h6{
    font-size: 20px;
    color: #2e1700;
    font-weight: bold;
}
#product-cards h6 span button{
    width: 100px;
    height: 26px;
    font-size: 15px;
    background: transparent;
    letter-spacing: 3px;
    border: 2px solid #573818;
    border-radius: 5px;
    float: right;
    font-weight: bold;
    transition: 0.5s ease;
    cursor: pointer;
}
#product-cards h6 span button:hover{
    background-color: #2e1700;
    color: white;
}


/* ---gallery */
#gallery{
    margin-top: 50px;
}
#gallery h1{
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
    color: rgba(161, 109, 14, 1);
    /* filter: drop-shadow(1px 2px 1px white); */
    border-bottom: 2px solid rgba(161, 109, 14, 1);
}
#gallery .card{
    box-shadow: 3px 3px 3px black;
    cursor: pointer;
}
#gallery .overlay{
    width: 100%;
    opacity: 0;
    color: white;
    text-shadow: 1px 2px 2px black;
}
#gallery .card:hover .overlay{
    opacity: 5;
    margin-top: 20%;
    transition: 0.5s ease-in;
}

/* about */
#about{
    margin-top: 50px;
}
#about h1{
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
    color: rgba(161, 109, 14, 1);
    /* filter: drop-shadow(1px 2px 1px white); */
    border-bottom: 2px solid rgba(161, 109, 14, 1);
}
#about .card{
    background-color: rgba(161, 109, 14, 1);
    box-shadow: 0px 0px 5px black;
}
#about p{
    color: rgba(161, 109, 14, 1);
    font-size: bold;
    text-shadow: 1px 1px 1px black;
}
#bt button{
    width: 150px;
    height: 32px;
    letter-spacing: 3px;
    background-color: rgba(161, 109, 14, 1);
    color: white;
    border: none;
    cursor: pointer;
}

/* contact */
#contact{
    margin-top: 100px;
}
#contact h1{
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
    color: rgba(161,109,14,1);
    text-shadow: 1px 1px 1px black;
    border-bottom: 2px solid rgba(161,109,14,1);
}
#contact input{
    background-color: rgba(161,109,14,1);
}
#contact input::placeholder{
    color: white;
}
#contact textarea{
    background-color: rgba(161,109,14,1);
}
#contact textarea::placeholder{
    color: white;
}
#messagebtn{
    text-align: center;
}
#messagebtn button{
    width: 200px;
    height: 30px;
    letter-spacing: 3px;
    font-weight: bold;
    background: transparent;
    border: 2px solid white;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}
#messagebtn button:hover{
    background-color: rgba(161,109,14,1);
}
/* contact */


/* footer */
#footer{
    width: 100%;    
    background-color: #573818;
    box-shadow: 0px 0px 5px black;
    margin-top: 100px;
}
#footer h1{
    color: white;
    padding-top: 30px;
}
#footer p{
    color: white;
}
#footer .icons i{
    background-color: white;
    color: #573818;
    border-radius: 50px;
    padding: 6px;
    font-size: 30px;
    transition: 0.5s;
    cursor: pointer;
}
#footer .icons i:hover{
    background-color: rgba(161,109,14,1);
    color: white;
}
.copyright{
    color: white;
    margin-top: 20px;
}
.credite{
    color: white;
}
.credite a{
    color: rgba(161, 109, 14, 1);
    font-size: 30px;
}
/* footer */
.arrow{
    position: fixed;
    background-color: rgba(161,109,14,1);
    border-radius: 50px;
    height: 50px;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
}

html{
    scroll-behavior: smooth;
}